<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <script src="./commons/navBar.js"></script>
    <script src="./commons/footer.js"></script>
    <title>Créditos</title>
</head>
<body onload="navBar('navContainer'); footer('footerContainer')">

    <div id="navContainer"></div>

    <div class="container card mt-2">

        <div class="row">
            <div class="card mt-2" style="width: 19rem;">
                <img class="card-img-top" width="200px" height="350px" src="img/sade.jpg" alt="Eduardo Santos">
                <div class="card-body">
                    <h5 class="card-title">Eduardo Luis Santos Delgado</h5>
                    <p class="card-text">Software Engineer</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <!-- Add font awesome icons for social contact -->
                        <span class="">
                            <ul class="social-network social-circle">
                                <li><a href="https://www.instagram.com/eduardosantosd7/" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://www.facebook.com/eduardosantos7" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/EduardoLSantos" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/eduardosantosdelgado/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/EduardoSantos7" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://github.com/EduardoSantos7" class="icoStackOverFlow" title="Github"><i class="fa fa-stack-overflow"></i></a></li>
                            </ul>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="card mt-2" style="width: 19rem;">
                    <img class="card-img-top" width="200px" height="350px" src="img/pear.jpg" alt="Eduardo Santos">
                    <div class="card-body">
                        <h5 class="card-title">Israel Perez Arellano</h5>
                        <p class="card-text">Project Manager</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <!-- Add font awesome icons for social contact -->
                            <span class="">
                                <ul class="social-network social-circle">
                                    <li><a href="https://www.facebook.com/israel.perezarellano" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                            </span>
                        </li>
                    </ul>
                </div>

        </div>


    </div>

    <!-- Footer -->
    <div id="footerContainer"></div>
    <!-- Footer -->
    
</body>
</html>