<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="../style/style.css">
    <script src="../src/depurado.js"></script>
    <script src="./commons/navBar.js"></script>
    <script src="./commons/footer.js"></script>
    <title>Depurado</title>
</head>
<body onload="navBar('navContainer'); footer('footerContainer'); load_inconsistencies();">

    <div id="navContainer"></div>
    
    <!-- Inputs -->
    <div class="container card m-2 mx-auto text-center">
        <div class="row text-center">
          <div class="col-sm-5">
            <h4>Inserta los archivos a depurar</h4>
            <div class="input-group m-2">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse
                        <input accept=".xlsx,.xls, .csv" id="input_files" type="file" onchange="get_input_paths()" style="display: none;" multiple>
                    </span>
                </label>
                <div id="input_names" class="ml-2 form-control input-holder" readonly> </div>
            </div>
            <span class="help-block text-center">
                Puedes seleccionar más de un archivo 
            </span>
          </div>
          <div class="col-sm-5">
                <h4>Selecciona el path de destino</h4>
                <div class="input-group m-2">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse
                            <input id="output_files" webkitdirectory  type="file" onchange="get_output_path()" style="display: none;" multiple>
                        </span>
                    </label>
                    <div  id="output_name" class="ml-2 form-control input-holder" readonly></div>
                </div>
                <span class="help-block text-center">
                    Solo puede seleccionar un path 
                </span>
          </div>
          <div class="col-sm-1">
              <div class="pt-2"></div> <!-- Spacer -->
              <div class="mt-1 pt-4 pl-4 mx-auto">
                    <button onclick="pipeline()" class="btn btn-primary"><i class="fa fa-magic mr-1"></i> Depurar</button>

              </div>
          </div>
        </div>
    </div>

    <div id="content" class="container card m-2 mx-auto text-center"></div>

    <!-- Footer -->
    <div id="footerContainer"></div>
    <!-- Footer -->
</body>
</html>