<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
      <link rel="stylesheet" href="../style/style.css">
      <script src="./commons/navBar.js"></script>
      <script src="./commons/footer.js"></script>
      <title>Aclaraciones 1.0.0</title>
  </head>

  <body onload="navBar('navContainer'); footer('footerContainer')">

    <div id="navContainer"></div>

    <div class="bg">
        <div class="row-md-6 p-4">
        </div>
        <div class="row-md-10 p-10">
          <div class="col-md-6 mb-5 mt-md-0 mt-5 text-white text-left text-md-left">
              <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sistema de Aclaraciones! </h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">Agiliza la creación de aclaraciones!.</h6>
              <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s">Learn more</a>
          </div>

        </div>

    </div>

    <!-- Footer -->
    <div id="footerContainer"></div>
    <!-- Footer -->
  </body>
</html>